#abc {
    width: 100%;
}

#abcMain {
    width: 1200px;
    margin: auto;
}

.ABCMM {
    width: 1200px;
}

#abcH1 {
    width: 100%;
    font-size: 25px;
    text-align: center;
    line-height: 600%;
    clear: both;
}

#adcT {
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: #666;
}

#abcC {
    width: 100%;
}

#abcAA {
    width: 100%;
    text-decoration: none;
    color: #000;
    clear: both;
}

#abcAA a {
    color: black;
    text-decoration: none;
}

#abcAA a:hover {
    color: red;
}

#abcMainB {
    width: 1100px;
}

#exzoom {
    width: 400px;
    /* height: 300px; */
    margin: 20px auto;
}

ul li {
    list-style-type: none;
}

.sssliimg img {
    width: 216px;
    height: 150px;
}

.ssslidiv a {
    color: black;
    text-decoration: none;
}

.ssslidiv a:hover {
    color: red;
}

.swiper-container {
    width: 1200px;
    height: auto;
    padding: 90px 0;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 200px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition-property: all;
}

#progressEffect {
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 20px;
}





#tzH1{
    width: 100%;
    height: 60px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 120px;
}
#tzMain{
    width: 1000px;
    padding: 50px;
}
#tzImg{
    width: 400px;
    height: 400px;
    border-radius: 200px;
    float: left;
}
#tzImg img{
    width: 400px;
    height: 400px;
}
#tzC{
    width: 550px;
    float: right;
}



#abcSpanWBZD{
    width: 115px;
    height: 30px;
    font-size: 20px;
    background-color: #f00;
    border-radius: 15px;
    padding: 50px auto 0px;
    color: #fff;
    float: left;
    text-align: center;
    margin-right: 20px;
}